* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.logo {
    height: 100px;
    width: 100px;
}

.logo img {
    object-fit: contain;
    width: 100px;
    margin: 20px;
}

.intro {
    background-image: url('./images/bg.jpg');
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    height: 900px;
}

nav ol {
    /* display: inline-block; */
    display: block;
}