* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid red;
}

.logo {
    height: 100px;
    width: 100px;
}

.logo img {
    object-fit: contain;
    width: 100px;
    margin: 20px;
}

nav {
    background-color: #F5E9B8;
}

.intro {
    background-image: url('./images/bg.jpg');
    background-repeat: none;
    background-attachment: fixed;
    background-size: cover;
    height: 900px;
}

.hidden {
    display: none;
}

#aboutMe {
    background-color: transparent;
}

#portfolio {
    display: flex;
    padding: 10px;
}

.portfolioTile {
    height: 200px;
    width: 200px;
    margin: 10px;
}